body {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
}

.heading5 {
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;    
}

#favorites .back-arrow:active,
#favorites .back-arrow:hover {
    background-color: #fff !important;
}

.bg-light-grey {
    background: #FAFAFA;
    box-shadow: 0px 3px 6px rgba(14, 31, 53, 0.12);
    border-radius: 6px;
    min-height: 235px;
}

.card {
    border: none !important;
    background: none !important;
}

.body-small-16 {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.btn-blue {
    background: #174AAD;
    border-radius: 5px;
    color: #fff;
    padding: 6px 20px;
}

.fw-700 {
    font-weight: 700 !important;    
}

#favorites a:hover,
#favorites a:active,
#subscribe a:hover,
#subscribe a:active {
    background: #174AAD !important;
    color: #FAFAFA;
    box-shadow: inset !important;
    border: none !important;    
}

.ms-less {
    margin-left: -80px !important;
}

.my-100 {
    margin-top: 100px;
    margin-bottom: 80px;
}

.body-base-20 {
    font-weight: 400;
    font-size: 20px;
    line-height: 32px
}

.w-22 {
    width: 22% !important;
}

.btn-subscribe {
    height: 56px;
    padding: 12px 8px;
    background: #174AAD;
    border-radius: 8px;
    color: #fff;     
}

input[type='text'],
input[type='email'] {
    background: rgba(217, 217, 217, 0.5);
    border: 0.5px solid #B4B8C0 !important;
}

.text-blue {
    color: #174AAD !important;
}

@media (max-width: 426px) {
    #favorites .ms-less  {
        margin-left: 0px !important;
    }

    .heading5 { 
        font-weight: 700;       
        font-size: 20px !important;
        line-height: 32px !important;   
    }

    #subscribe .heading5 {
        font-weight: 700;
        font-size: 24px !important;
        line-height: 32px !important;
    }

    .body-base-20 {
        font-weight: 400 !important;
        font-size: 14px !important;
        line-height: 17px !important;
    }

    .btn-subscribe {
        height: auto !important;
    }

    #favorites .h4-sm {
        text-align: center !important;
        font-weight: 700;
        font-size: 30px !important;
        line-height: 32px !important;
        margin: 0px !important;
    }    

    .body-small-16 {
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
    }     
    
    #favorites .mb-5 {
        margin-bottom: 30px !important;
    }
    
    #favorites .card-body {
        padding: 0px !important;
    }

    .bg-light-grey {
        background: none !important;
        box-shadow: none !important;
        border-radius: 0px !important;                       
    }

    #favorites .img-fluid {
        min-width: 100% !important;
    }

    #subscribe .d-flex {
        flex-direction: column !important;
        width: 100% !important;
        padding-right: 0px !important;
    }    

    #subscribe .container {
        width: 95% !important;
        margin-top: 60px !important;
    }

    .w-22 {
        width: 100% !important;
    }
}

@media (max-width: 769px) and (min-width: 426px) {
    #favorites .col-lg-8 {
        width: 95% !important;
    }
    
    #favorites .mt-3 {
        margin-top: 0px !important;
    }

    #favorites .ms-less  {
        margin-left: 0px !important;
    }

    .btn-subscribe {
        height: 50px !important;
    }

    #favorites h4 {
        text-align: center !important;
    }
    
    #subscribe .container {        
        margin-right: 0px !important;
        margin-left: 0px !important;
    }

}

@media (max-width: 1025px) and (min-width: 769px) {
    #favorites .ms-less  {
        margin-left: 0px !important;
    }    
}