@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Manrope:wght@200;300;400;500;600;700;800&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:wght@800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: open sans;
    position: relative !important;
}

#postt {
    position: absolute !important;
    width: 90%;
    top: 208px !important;
    left: 71px;
    z-index: 4;
    margin: 0 auto !important;
    box-shadow: 0px 28px 40px -1px rgba(14, 31, 53, 0.15);
border-radius: 7.53974px;
}

.in-post {
    padding: 80px 150px;
    background-color: white;
}

.in-post img {
    width: 100%;
}

.head-1 {
    font-size: 36px;
    font-weight: 700;
}

.ffffl {
    margin-top: 40px;
}

.p1 {
    font-size: 24px;
    font-weight: 600;
}

.p2 {
    font-size: 36px;
    font-weight: 700;
    color: #174AAD;
    text-align: right;
    margin-bottom: 60px;
}

.a1 {
    padding: 12px 58px;
    margin-left: auto;
    background-color: #174AAD;
    color: white;
    text-decoration: none;
    border-radius: 8px;
}